body {
    background: #0000FF;
    color: white;
}

.header {
    border: 10px;
    border-color: red;
    padding-left: 60px;
    padding-top: 10px;
    text-align: left;
    font-size: 140px;
}

.header span{
    font-size: 80px;
}

li {
    font-family: "Encode Sans";
    list-style: none;
    font-size: 45px;
    text-justify: auto;
}